h1 {
    color: blue;
}

div{
    text-align: center;
}

table{
    align-content: center;
    margin: 0 auto;
    text-align: left;
}

img{
    display:block;
    width: 80%;
    margin:auto;
}

ul.myUL {
    display: inline-block;
}

td.titulo{
    background: powderblue;
    font-weight: bold;
}